# Medical Appointment No Shows - [No-show appointments]

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 
This dataset collects information from 110,527 medical appointments in Brazil and is focused on the question of whether or not patients show up for their appointment. 14 associated characteristics about the patient are included in each row.

**PatientID**
<li>Identification of a patient.</li>

**AppointmentID**
<li>Identification of each appointment.</li>

**Gender**
<li>Male or Female. Note: Female is the greater proportion, woman takes way more care of they health in comparison to man.</li>

**ScheduledDay**
<li>The day patient set up their appointment.</li>

**AppointmentDay**
<li>The day of the actual appointment.</li>

**Age**
<li>Patient age</li>

**Neighbourhood**
<li>Indicates the location of the hospital.</li>

**Scholarship**
<li>Indicates whether or not the patient is enrolled in Brasilian welfare program Bolsa Fam√≠lia.</li>

**Hipertension**
<li>Hipertension. True or False.</li>

**Diabetes**
<li>Diabetes. True or False.</li>

**Alcoholism**
<li>Alcoholism. True or False.</li>

**Handcap**
<li>Handicapped. True or False.</li>

**SMS_received**
<li>1 or more messages sent to the patient.</li>

**No-show**
<li>'No' if the patient showed up to their appointment, and 'Yes' if they did show up</li>


### Question(s) for Analysis


> A patient makes a doctor appointment, receives all the instructions and no-show.In this notebook we will answer to Why do 30% of patients miss their scheduled appointments?

> This report investigates the factors that may affect if the patient will show up for their scheduled appointment.
>
> Mainly this report will tackle the following questions
> <ul>
    <li>Does gender affect if the patient will show up for scheduled appointment?</li>
    <li>Does patients who wait less for their appointments show up to their appointments more?</li>
    <li>Does age affect if the patient will show up for scheduled appointment?</li>
    <li>Does being handicapped affect if the patient will show up for scheduled appointment?</li>
    <li>What about other factors such as (scholarship, hypertension, diabetes, alcoholic, reminder SMS)</li>
</ul>

### Setup the Environment

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> In this section of the report:
> <ul>
    <li>Assessment and building intuition</li>
    <li>Cleaning Data</li>
</ul>

### Load Data

In [2]:
df = pd.read_csv('Database_No_show_appointments/noshowappointments-kagglev2-may-2016.csv')

In [3]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
print("The shape of the DataFrame is => {}".format(df.shape))

The shape of the DataFrame is => (110527, 14)

### Basic Info of the Data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

- Column names inconsistent.
- Typos in column names.
- ScheduledDay and AppointmentDay should be Datetime format.

In [6]:
# check unique
df.nunique()

PatientId          62299
AppointmentID     110527
Gender                 2
ScheduledDay      103549
AppointmentDay        27
Age                  104
Neighbourhood         81
Scholarship            2
Hipertension           2
Diabetes               2
Alcoholism             2
Handcap                5
SMS_received           2
No-show                2
dtype: int64

- There are 110527 appointments but only 62299 patients -> some patients have multiple appointments.
- Age has 104 unique values -> something might be wrong

In [7]:
# Check missing values
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

- There's no missing value in the dataset

In [8]:
# Check duplicate rows
df.duplicated().sum()

0

- There's no duplicate rows

In [9]:
df[['ScheduledDay','AppointmentDay']]

                ScheduledDay        AppointmentDay
0       2016-04-29T18:38:08Z  2016-04-29T00:00:00Z
1       2016-04-29T16:08:27Z  2016-04-29T00:00:00Z
2       2016-04-29T16:19:04Z  2016-04-29T00:00:00Z
3       2016-04-29T17:29:31Z  2016-04-29T00:00:00Z
4       2016-04-29T16:07:23Z  2016-04-29T00:00:00Z
...                      ...                   ...
110522  2016-05-03T09:15:35Z  2016-06-07T00:00:00Z
110523  2016-05-03T07:27:33Z  2016-06-07T00:00:00Z
110524  2016-04-27T16:03:52Z  2016-06-07T00:00:00Z
110525  2016-04-27T15:09:23Z  2016-06-07T00:00:00Z
110526  2016-04-27T13:30:56Z  2016-06-07T00:00:00Z

[110527 rows x 2 columns]

- AppointmentDay does not record exact time, only date.

In [10]:
a=df.Age.unique()
a.sort()
print(a)

[ -1   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16
  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52
  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70
  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88
  89  90  91  92  93  94  95  96  97  98  99 100 102 115]

- Age has range from -1 to 115

In [11]:
df.Handcap.unique()

array([0, 1, 2, 3, 4])

- Handcap values are (0,1,2,3,4) -> different levels of being  a Handicap.

In [12]:
df['No-show']

0         No
1         No
2         No
3         No
4         No
          ..
110522    No
110523    No
110524    No
110525    No
110526    No
Name: No-show, Length: 110527, dtype: object

- No-show feature is string

In [13]:
df[df['No-show']=='Yes']['No-show'].count()/df['No-show'].count()

0.20193255946510807

- 20% of the data are recorded as no-show (missed the scheduled appointments)

### Conclude the findings about the dataset

1. Column names are inconsistent. (Upper & lowercase)
2. Some columns have typos. (ex: Hipertension -> Hypertension, Handcap -> Handicap)
3. ScheduleDay and AppointmentDay are strings not datetime dtype.
4. AppointmentDay does not record the exact time, just date. change to YYYY-MM-DD.
5. PatientID is less than AppointmentID: Some patient may revisit several times.
6. Age has 104 unique values (-1~115). 
7. Handcap values are (0,1,2,3,4) stands for different levels of being  a Handicap.
8. No-show feature is string, change to (0, 1) where '1' for patients who did no show up and '0' for who showed up.

9. Null values does not exists in this dataset.
10. No duplicated rows in the dataset.


### Data Cleaning
> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

In [14]:
# Copy dataframe for modification
df_mod = df.copy()

In [15]:
# Rename all variables to be in conventional naming
df_mod.rename(columns=lambda x:x.lower().replace('-','_'), inplace = True)
df_mod.columns

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no_show'],
      dtype='object')

In [16]:
# get rid of typos and rename columns to be lowercase and consistent
df_mod.rename(columns={'hipertension': 'hypentension', 'handcap':'handicap'}, inplace=True)
df_mod.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypentension,diabetes,alcoholism,handicap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [17]:
# Change dates columns to datetime type
df_mod[['scheduledday', 'appointmentday']] = df_mod[['scheduledday', 'appointmentday']].apply(pd.to_datetime)
df_mod.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypentension,diabetes,alcoholism,handicap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [18]:
# Change values of no_show column to be (0: show up, 1: no show)
df_mod['no_show'] =  df_mod['no_show'].apply(lambda x: 0 if x == 'No' else 1)
df_mod['no_show'].nunique()

2

In [19]:
# Get summary statistics to show that if any value is unconsistent
df_mod.describe()

,patientid,appointmentid,age,scholarship,hypentension,diabetes,alcoholism,handicap,sms_received,no_show
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,0.201933
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,0.401444
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [20]:
df_mod.age.quantile([0.1,0.9])

0.1     5.0
0.9    68.0
Name: age, dtype: float64

In [21]:
df_mod[df_mod.age<0]

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypentension,diabetes,alcoholism,handicap,sms_received,no_show
99832,4.659432e+14,5775010,F,2016-06-06 08:58:13+00:00,2016-06-06 00:00:00+00:00,-1,ROM√ÉO,0,0,0,0,0,0,0

In [22]:
# drop age <0 data
df_mod.drop(index = 99832, inplace= True)

In [23]:
df_mod[df_mod.age>=100]

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypentension,diabetes,alcoholism,handicap,sms_received,no_show
58014,9.762948e+14,5651757,F,2016-05-03 09:14:53+00:00,2016-05-03 00:00:00+00:00,102,CONQUISTA,0,0,0,0,0,0,0
63912,3.196321e+13,5700278,F,2016-05-16 09:17:44+00:00,2016-05-19 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,1
63915,3.196321e+13,5700279,F,2016-05-16 09:17:44+00:00,2016-05-19 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,1
68127,3.196321e+13,5562812,F,2016-04-08 14:29:17+00:00,2016-05-16 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,1
76284,3.196321e+13,5744037,F,2016-05-30 09:44:51+00:00,2016-05-30 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,0
79270,9.739430e+12,5747809,M,2016-05-30 16:21:56+00:00,2016-05-31 00:00:00+00:00,100,TABUAZEIRO,0,0,0,0,1,0,0
79272,9.739430e+12,5747808,M,2016-05-30 16:21:56+00:00,2016-05-31 00:00:00+00:00,100,TABUAZEIRO,0,0,0,0,1,0,0
90372,2.342836e+11,5751563,F,2016-05-31 10:19:49+00:00,2016-06-02 00:00:00+00:00,102,MARIA ORTIZ,0,0,0,0,0,0,0
92084,5.578313e+13,5670914,F,2016-05-06 14:55:36+00:00,2016-06-03 00:00:00+00:00,100,ANT√îNIO HON√ìRIO,0,0,0,0,0,1,0
97666,7.482346e+14,5717451,F,2016-05-19 07:57:56+00:00,2016-06-03 00:00:00+00:00,115,S√ÉO JOS√â,0,1,0,0,0,1,0
108506,3.939642e+11,5721152,F,2016-05-19 15:32:09+00:00,2016-06-01 00:00:00+00:00,100,MARU√çPE,0,0,0,0,0,0,0

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations. Remember to utilize the visualizations that the pandas library already has available.



> **Tip**: Investigate the stated question(s) from multiple angles. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables. You should explore at least three variables in relation to the primary question. This can be an exploratory relationship between three variables of interest, or looking at how two independent variables relate to a single dependent variable of interest. Lastly, you  should perform both single-variable (1d) and multiple-variable (2d) explorations.


### Research Question 1 (Replace this header name!)

In [24]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed in relation to the question(s) provided at the beginning of the analysis. Summarize the results accurately, and point out where additional research can be done or where additional information could be useful.

> **Tip**: Make sure that you are clear with regards to the limitations of your exploration. You should have at least 1 limitation explained clearly. 

> **Tip**: If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> **Tip**: Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should see output that starts with `NbConvertApp] Converting notebook`, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> **Tip**: Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> **Tip**: Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
# Running this cell will execute a bash command to convert this notebook to an .html file
!python -m nbconvert --to html Investigate_a_Dataset.ipynb